body{
    font-style: italic;
}

.main {
    width: 60%;
    margin: 20px auto;
    border: 1px solid blue;
    padding: 20px;
    background-color: deeppink;
}

h2 {
    margin-top:0px;
    color: darkmagenta;
}

.encabezado {
    background-color: darkcyan;
    color: burlywood;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    box-shadow: 0px 10px 10px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezado figure{
    width: 120px;
    height: 100px;
<<<<<<< HEAD
    margin: 0;
=======
    margin: 0;  
>>>>>>> footer
}

.encabezado figure img{
    width: inherit;
    height: inherit;
}

ul{
    margin: 0;
    list-style: none;
    display: flex;
}

a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

h3{
    color: chocolate;
}

footer {
    background-color: green;
}

footer p{
    font-size: 20px;
}